{% extends 'books/index.html' %}
{% block title %}{{item.name}}{% endblock%}

{% block content %}
<h1 class='font-bold text-lg'>Available Books</h1>
<div class='my-3 grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4'>
    
{% for book in books.object_list %}
<a class="max-w-lg border border-indigo-300 rounded-2xl hover:shadow-xl hover:shadow-indigo-50 flex flex-col items-center"
    href="#">
    <img src={{book.cover_image}} class="shadow rounded-lg overflow-hidden w-full max-h-[350px]" >
    <div class="my-4 mx-4 ">
        <div class=''>
            <h4 class="font-bold text-xl">{{book.title}}  
                {% for gen in book.genre %}
                <span class='text-sky bg-amber-500 rounded-lg text-xs'>
                    {{gen}}
                </span>
                {% endfor %}
            </h4>
            <p class="mt-2 text-gray-600 text-sm">{{book.description}}
            </p>
            <span class='text-sky bg-lime-500 rounded-lg text-xs'>Available</span>
        </div>
       
        {% comment %} <div class="mt-5">
            <button type="button" class="inline-flex items-center rounded-md border border-transparent bg-gray-800 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-900">Add to bucket</button>
        </div> {% endcomment %}
    </div>
</a>
   
{% endfor%}

</div>

<nav aria-label="Page navigation " class='flex justify-center items-center'>
    <ul class="list-style-none flex">
        {% if books.has_previous %}
          <li>
            <a class="relative block rounded-full  px-3 py-1.5 text-sm text-black transition-all duration-300 dark:hover:bg-neutral-700 dark:hover:text-white"
                href="{% url 'books:book_list' books.previous_page_number %}"
              >Previous</a>
          </li>
        {% endif %}
      
      <li>
        <a
          class="relative block rounded-full bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100  text-black dark:hover:bg-neutral-700 dark:hover:text-white"
          href=""
          >{{books.number}}</a
        >
      </li>
      {% if books.has_next %}
      <li>
        <a
          class="relative block rounded-full  px-3 py-1.5 text-sm text-black transition-all duration-300 hover:bg-neutral-100  dark:hover:bg-neutral-700 dark:hover:text-white"
          href="{% url 'books:book_list' books.next_page_number %}">Next</a>
      </li>
        {% endif %}
      
    </ul>
{% endblock %}